<div id="announcement">
    <div class="row">
            <div class="column large-3 medium-4 small-12">
                    <h2>{{ $ctrl.subtitle1 }}</h2>
                    <p ng-repeat="item in $ctrl.tags">{{ item }}</p>
                </div>
                <div class="column large-4 medium-4 small-12">
                    <h2>{{ $ctrl.subtitle2 }}</h2>
                    <p>{{ $ctrl.paragraph }}</p>
                </div>
                <div class="column large-4 medium-4 small-12">
                    <h2>{{ $ctrl.subtitle3 }}</h2>
                    <div>{{ $ctrl.product }}</div>
                </div>
    </div>
    
</div>
         