<div class="row large-12 medium-12 small-12">
    <div class="section large-4 medium-4 small-12">
        <h2>{{ $ctrl.subtitle1 }}</h2>
        <a href="javascript:void(0)" ng-repeat="item in $ctrl.tags">{{ item }}</a>
    </div>
    <div class="section large-4 medium-4 small-12">
        <h2>{{ $ctrl.subtitle2 }}</h2>
        <p>{{ $ctrl.paragraph }}</p>
    </div>
    <div class="section large-4 medium-4 small-12">
        <h2>{{ $ctrl.subtitle3 }}</h2>
        <div class="color-coming">
            <p>
                {{ $ctrl.product }}
            </p>
        </div>
    </div>
</div>