body {
  margin: 0;
  padding: 0;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media only screen and (min-width: 768px) {
  .color-search {
    background-color: gainsboro;
    width: 100%;
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center; }
    .color-search div {
      padding: 10px; }
      .color-search div input {
        border: 0.2em solid black;
        border-radius: 25px; }
      .color-search div a {
        color: blue; }
  .container-header {
    width: 100%;
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center; }
  .logo {
    padding: 5px 20px; }
  .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: auto 0px; }
    .menu div {
      padding: 5px 10px; }
      .menu div a {
        text-decoration: none;
        color: black; }
  .large-1 {
    width: 8.33333%; }
  .large-2 {
    width: 16.66667%; }
  .large-3 {
    width: 25%; }
  .large-4 {
    width: 33.33333%; }
  .large-5 {
    width: 41.66667%; }
  .large-6 {
    width: 50%; }
  .large-7 {
    width: 58.33333%; }
  .large-8 {
    width: 66.66667%; }
  .large-9 {
    width: 75%; }
  .large-10 {
    width: 83.33333%; }
  .large-11 {
    width: 91.66667%; }
  .large-12 {
    width: 100%; }
  .container {
    width: 100%;
    max-width: 100%;
    margin: auto; }
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; }
  .color-div {
    background-color: gray;
    width: 100%;
    border-style: solid;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 4px; }
  .text-align {
    display: flex;
    flex-direction: column; }
    .text-align h3 {
      margin: 10px 15px; }
    .text-align p {
      margin-top: 0px;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 30px; }
  .color-card {
    background-color: gray;
    width: 95%;
    border-style: solid;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 10px; }
  .card-size {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px; }
    .card-size p, .card-size h4 {
      margin: 5px 10px; }
  .section {
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px; }
    .section h2 {
      padding-left: 5px; }
    .section p {
      padding-left: 5px;
      margin-top: 0px; }
    .section a {
      color: blue;
      padding: 5px; }
  .color-coming {
    background-color: gray;
    width: 97%;
    border-style: solid;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 10px; }
  .row-footer {
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    justify-content: center;
    height: 100px; } }
