* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.color-search {
  background-color: gainsboro;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center; }
  .color-search div {
    padding: 10px 20px; }
    .color-search div input {
      border: 0.2em solid black;
      border-radius: 25px;
      padding: 5px; }
    .color-search div a {
      color: blue; }

.container-header {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }

.logo {
  padding: 5px 20px; }

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto 0px; }
  .menu div {
    padding: 5px 10px; }
    .menu div a {
      text-decoration: none;
      color: black; }

.small-1 {
  width: 8.33333%; }

.small-2 {
  width: 16.66667%; }

.small-3 {
  width: 25%; }

.small-4 {
  width: 33.33333%; }

.small-5 {
  width: 41.66667%; }

.small-6 {
  width: 50%; }

.small-7 {
  width: 58.33333%; }

.small-8 {
  width: 66.66667%; }

.small-9 {
  width: 75%; }

.small-10 {
  width: 83.33333%; }

.small-11 {
  width: 91.66667%; }

.small-12 {
  width: 100%; }

.container {
  width: 100%;
  max-width: 100%;
  padding: 0px 2px; }

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.color-div {
  background-color: gray;
  width: 100%;
  border-style: solid;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px; }

.text-align {
  display: flex;
  flex-direction: column; }
  .text-align h3 {
    margin: 10px auto; }
  .text-align p {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px; }

.layout-card {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 10px; }

.color-card {
  background-color: gray;
  width: 100%;
  border-style: solid;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0px; }

.card-size {
  display: flex;
  flex-direction: column; }
  .card-size p, .card-size h4 {
    margin: 5px auto; }

.section {
  background-color: gainsboro;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px; }
  .section h2 {
    margin-left: auto;
    margin-right: auto; }
  .section p {
    padding-left: 5px;
    padding-right: 5px; }
  .section a {
    color: blue;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto; }

.color-coming {
  background-color: gray;
  width: 99%;
  border-style: solid;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto; }

.row-footer {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 30px; }

@media only screen and (min-width: 480px) {
  .color-search {
    background-color: gainsboro;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center; }
    .color-search div {
      padding: 10px 20px; }
      .color-search div input {
        border: 0.2em solid black;
        border-radius: 25px;
        padding: 5px; }
      .color-search div a {
        color: blue; }
  .container-header {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
  .logo {
    padding: 20px; }
  .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .menu div {
      padding: 22px; }
      .menu div a {
        text-decoration: none;
        color: black; }
  .medium-1 {
    width: 8.33333%; }
  .medium-2 {
    width: 16.66667%; }
  .medium-3 {
    width: 25%; }
  .medium-4 {
    width: 33.33333%; }
  .medium-5 {
    width: 41.66667%; }
  .medium-6 {
    width: 50%; }
  .medium-7 {
    width: 58.33333%; }
  .medium-8 {
    width: 66.66667%; }
  .medium-9 {
    width: 75%; }
  .medium-10 {
    width: 83.33333%; }
  .medium-11 {
    width: 91.66667%; }
  .medium-12 {
    width: 100%; }
  .container {
    width: 100%;
    max-width: 100%;
    padding: 0px 2px; }
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  .color-div {
    background-color: gray;
    width: 100%;
    border-style: solid;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px; }
  .text-align {
    display: flex;
    flex-direction: column; }
    .text-align h3 {
      margin: 10px; }
    .text-align p {
      margin-top: 0px;
      margin-right: 10px;
      margin-bottom: 30px; }
  .row-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
  .layout-card {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 20px;
    width: 49%; }
  .color-card {
    background-color: gray;
    width: 100%;
    border-style: solid;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0px; }
  .card-size {
    display: flex;
    flex-direction: column; }
    .card-size p, .card-size h4 {
      margin: 5px 0px; }
  .section {
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 30px; }
    .section h2 {
      margin-left: 0px; }
    .section p {
      margin-top: 15px;
      margin-left: 0px;
      padding-left: 0px; }
    .section a {
      color: blue;
      margin-top: 10px;
      margin-left: 0px; }
  .color-coming {
    background-color: gray;
    width: 100%;
    border-style: solid;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0px; }
  .row-footer {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 30px; } }

@media only screen and (min-width: 768px) {
  .color-search {
    background-color: gainsboro;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center; }
    .color-search div {
      padding: 10px 20px; }
      .color-search div input {
        border: 0.2em solid black;
        border-radius: 25px;
        padding: 5px; }
      .color-search div a {
        color: blue; }
  .container-header {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
  .logo {
    padding: 20px; }
  .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .menu div {
      padding: 22px; }
      .menu div a {
        text-decoration: none;
        color: black; }
  .large-1 {
    width: 8.33333%; }
  .large-2 {
    width: 16.66667%; }
  .large-3 {
    width: 25%; }
  .large-4 {
    width: 33.33333%; }
  .large-5 {
    width: 41.66667%; }
  .large-6 {
    width: 50%; }
  .large-7 {
    width: 58.33333%; }
  .large-8 {
    width: 66.66667%; }
  .large-9 {
    width: 75%; }
  .large-10 {
    width: 83.33333%; }
  .large-11 {
    width: 91.66667%; }
  .large-12 {
    width: 100%; }
  .container {
    width: 100%;
    max-width: 100%;
    padding: 0px 2px; }
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  .color-div {
    background-color: gray;
    width: 100%;
    border-style: solid;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px; }
  .text-align {
    display: flex;
    flex-direction: column; }
    .text-align h3 {
      margin: 10px; }
    .text-align p {
      margin-top: 0px;
      margin-right: 10px;
      margin-bottom: 30px; }
  .row-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
  .layout-card {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 20px;
    width: 24%; }
  .color-card {
    background-color: gray;
    width: 100%;
    border-style: solid;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0px; }
  .card-size {
    display: flex;
    flex-direction: column; }
    .card-size p, .card-size h4 {
      margin: 5px 0px; }
  .section {
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 30px; }
    .section h2 {
      margin-left: 0px; }
    .section p {
      margin-top: 15px;
      margin-left: 0px;
      padding-left: 0px; }
    .section a {
      color: blue;
      margin-top: 10px;
      margin-left: 0px; }
  .color-coming {
    background-color: gray;
    width: 100%;
    border-style: solid;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0px; }
  .row-footer {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 30px; } }
