.row {
  display: block;
  clear: both;
}

.column {
  padding: 0 1%;
}

.small-1 {
  width: 8.3333333333%;
  float: left;
}

.small-2 {
  width: 16.6666666667%;
  float: left;
}

.small-3 {
  width: 25%;
  float: left;
}

.small-4 {
  width: 33.3333333333%;
  float: left;
}

.small-5 {
  width: 41.6666666667%;
  float: left;
}

.small-6 {
  width: 50%;
  float: left;
}

.small-7 {
  width: 58.3333333333%;
  float: left;
}

.small-8 {
  width: 66.6666666667%;
  float: left;
}

.small-9 {
  width: 75%;
  float: left;
}

.small-10 {
  width: 83.3333333333%;
  float: left;
}

.small-11 {
  width: 91.6666666667%;
  float: left;
}

.small-12 {
  width: 100%;
  float: left;
}

@media only screen and (min-width: 45em) {
  .row {
    display: block;
    clear: both;
  }

  .column {
    padding: 0 1%;
  }

  .medium-1 {
    width: 8.3333333333%;
    float: left;
  }

  .medium-2 {
    width: 16.6666666667%;
    float: left;
  }

  .medium-3 {
    width: 25%;
    float: left;
  }

  .medium-4 {
    width: 33.3333333333%;
    float: left;
  }

  .medium-5 {
    width: 41.6666666667%;
    float: left;
  }

  .medium-6 {
    width: 50%;
    float: left;
  }

  .medium-7 {
    width: 58.3333333333%;
    float: left;
  }

  .medium-8 {
    width: 66.6666666667%;
    float: left;
  }

  .medium-9 {
    width: 75%;
    float: left;
  }

  .medium-10 {
    width: 83.3333333333%;
    float: left;
  }

  .medium-11 {
    width: 91.6666666667%;
    float: left;
  }

  .medium-12 {
    width: 100%;
    float: left;
  }
}
@media only screen and (min-width: 64.25em) {
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .row {
    display: block;
    padding: 0.2em 0;
    clear: both;
  }

  .column {
    padding: 0 1%;
  }

  .large-1 {
    width: 8.3333333333%;
    float: left;
  }

  .large-2 {
    width: 16.6666666667%;
    float: left;
  }

  .large-3 {
    width: 25%;
    float: left;
  }

  .large-4 {
    width: 33.3333333333%;
    float: left;
  }

  .large-5 {
    width: 41.6666666667%;
    float: left;
  }

  .large-6 {
    width: 50%;
    float: left;
  }

  .large-7 {
    width: 58.3333333333%;
    float: left;
  }

  .large-8 {
    width: 66.6666666667%;
    float: left;
  }

  .large-9 {
    width: 75%;
    float: left;
  }

  .large-10 {
    width: 83.3333333333%;
    float: left;
  }

  .large-11 {
    width: 91.6666666667%;
    float: left;
  }

  .large-12 {
    width: 100%;
    float: left;
  }

  #header {
    margin: auto;
    width: 100%;
  }

  ul, ol {
    list-style: none;
  }

  .nav h3 {
    text-decoration: none;
    padding: 10px 12px;
    display: inline-block;
  }

  .nav > li {
    float: right;
  }

  .nav li a {
    color: black;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
  }

  .slider {
    position: relative;
    width: 40%;
  }

  .color-div {
    background-color: gray;
    border-style: solid;
    margin: 0 0.5em;
    height: 18em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .color-card {
    background-color: gray;
    border-style: solid;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #announcement div {
    background-color: gainsboro !important;
  }

  .center {
    text-align: center;
    height: 3.5em;
    padding-bottom: 2em;
  }
}
