@media only screen and (min-width: 768px) {
    //SEARCH
    .color-search {
        background-color: $gainsboro;
        width: 100%;
        max-width: 100%;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
        div {
            padding: 10px;
            input {
                border: 0.2em solid $black;
                border-radius: 25px;
            }
            a {
                color: $blue;
            }
        }
    }
    //END SEARCH
    //HEADER
    .container-header {
        width: 100%;
        max-width: 100%;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        padding: 5px 20px;
    }

    .menu {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: auto 0px;
        div {
            padding: 5px 10px; 
            a {
                text-decoration: none;
                color: $black;
            }
        }
    }
    //END HEADER
    //GRID FOR MAIN CONTENT
    @for $i from 1 through 12 {
        $w: ($i/12)*100%;
        .large-#{$i} {
            width: $w;
        }
    }
    .container {
        width: 100%;
        max-width: 100%;
        margin: auto;
    }
    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    //END MAIN CONTENT
    @mixin styleColor($w, $h) {
        background-color: $gray;
        width: $w;
        border-style: solid;
        height: $h;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    //GALLERY
    .color-div {
        @include styleColor(100%, 400px);
        margin: 0px 4px;
    }
    //END GALLERY
    //HEADLINE
    .text-align {
        display: flex;
        flex-direction: column;
        h3 {
            margin: 10px 15px;
        }
        p {
            margin-top: 0px;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 30px;
        }
        
    }
    .color-card {
        @include styleColor(95%, 300px);
        margin: 5px 10px;
    }
    .card-size {
        display: flex;
        flex-direction: column;
        padding-bottom: 15px;
        p, h4 {
            margin: 5px 10px;
        }
    }
    //END HEADLINE
    //ANNOUNCEMENT
    .section {
        background-color: $gainsboro;
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
        h2 {
            padding-left: 5px;
        }
        p {
            padding-left: 5px;
            margin-top: 0px;
        }
        a {
            color: $blue;
            padding: 5px;
        }
    }
    .color-coming {
        @include styleColor(97%, 150px);
        margin: 5px 10px;
    }
    //END ANNOUNCEMENT
    //FOOTER
    .row-footer {
        display: flex;
        flex-direction: row;
        flex-flow: nowrap;
        justify-content: center;
        height: 100px;
    }
    //END FOOTER
}